*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: aqua;
        display: flex;
        height: 12vh;
        /* width: 100%; */
        justify-content: space-between;
        align-items: center;
        padding: 0vw 10vh ;
        
    border-radius: 2px solid black;


}
.header img{
    width: 20%;

}
.header ul{
    display: flex;
    list-style: none;
    gap: 2vw;
    list-style-position: outside;

}
.header ul a{
    text-decoration: none;
}